/* Style the button that is used to open and close the collapsible content */
.collapsible {
    opacity: 0;
    visibility: hidden;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1%;
    padding-left: 1%;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 15px 15px 0px 0px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    border-radius: 0px 0px 15px 15px;
    padding: 0 1%;
    background-color: #ddd;
    margin-bottom: 1%;
    width: 80%;
    box-sizing: border-box;
}

.content .internal {
    padding-top: 1%;
    padding-bottom: 1%;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 0.2%;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
