.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

#intro {
    width: 80%;
    padding-left: 5%:
}

.coll-content {
    padding-top: 1%;
    padding-bottom: 1%;
}

.svg-container {
    opacity: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    border: 2px solid #aaa;
}

.default-confs {
    margin-bottom: 1%;
    padding-left: 1%;

    background-color: #ccc;

    border-radius: 15px;
}

.default-confs input[type=radio] {
    margin-right: 10px;
}

.default-confs b {
    font-size: large;
}
